<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Hello, {{title}}!
    </h1>
    <div class="col-md-6">
        <h1>List of things</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
            </thead>
            <tr *ngFor="let p of podcasts$ | async" (click)="onSelect(p)" style="cursor: pointer;">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h1>Details are here</h1>
        <div class="well">
            {{(selected$ | async)?.body}}
        </div>
    </div>
</div>
